ALL_split_C.bed
	ALL_split_C_new_test.bed
	ALL_split_C_new_test2.bed
	ALL_split_C_old.bed
	ALL_split_C_old_test.bed
	GSE54652/
	GSE54652_RAW.tar
	Input_DNA_sort.bam
	PeakSplitter.jar
	ZT02.bed
	ZT02.txt
	ZT02_r1/
	ZT02_r1_bw_model.r
	ZT02_r1_bw_negative_peaks.xls
	ZT02_r1_bw_peaks.bed
	ZT02_r1_bw_peaks.xls
	ZT02_r1_bw_split_MACS_wiggle/
	ZT02_r1_bw_split_model.r
	ZT02_r1_bw_split_negative_peaks.xls
	ZT02_r1_bw_split_peaks.bed
	ZT02_r1_bw_split_peaks.subpeaks.bed
	ZT02_r1_bw_split_peaks.subpeaks.red.bed
	ZT02_r1_bw_split_peaks.xls
	ZT02_r1_bw_split_summits.bed
	ZT02_r1_bw_summits.bed
	ZT02_r1_covhomer.txt
	ZT02_r1_covhomer.xls
	ZT02_r1_covhomer.xlsx
	ZT02_r1_covhomer_B.txt
	ZT02_r1_covhomer_C.txt
	ZT02_r1_covhomer_C.xlsx
	ZT02_r1_covhomer_C_sub.txt
	ZT02_r1_covhomer_C_sub_paper.txt
	ZT02_r1_covhomer_C_sub_paper.xlsx
	ZT02_r1_covhomer_C_sub_strict.txt
	ZT02_r1_covhomer_C_sub_strict.xlsx
	ZT02_r1_covhomer_D.txt
	ZT02_r1_covhomer_D.xlsx
	ZT02_r1_covhomer_E.txt
	ZT02_r1_covhomer_E.xlsx
	ZT02_r1_model.r
	ZT02_r1_negative_peaks.xls
	ZT02_r1_peaks.bed
	ZT02_r1_peaks.xls
	ZT02_r1_rmdup_filter.bam
	ZT02_r1_rmdup_filter.bam.bai
	ZT02_r1_rmdup_filter.bedgraph
	ZT02_r1_split/
	ZT02_r1_summits.bed
	ZT02_r2/
	ZT02_r2_bw_model.r
	ZT02_r2_bw_negative_peaks.xls
	ZT02_r2_bw_peaks.bed
	ZT02_r2_bw_peaks.xls
	ZT02_r2_bw_split_MACS_wiggle/
	ZT02_r2_bw_split_model.r
	ZT02_r2_bw_split_negative_peaks.xls
	ZT02_r2_bw_split_peaks.bed
	ZT02_r2_bw_split_peaks.subpeaks.bed
	ZT02_r2_bw_split_peaks.subpeaks.red.bed
	ZT02_r2_bw_split_peaks.xls
	ZT02_r2_bw_split_summits.bed
	ZT02_r2_bw_summits.bed
	ZT02_r2_covhomer.txt
	ZT02_r2_covhomer.xlsx
	ZT02_r2_covhomer_B.txt
	ZT02_r2_covhomer_C.txt
	ZT02_r2_covhomer_C.xlsx
	ZT02_r2_covhomer_C_sub.txt
	ZT02_r2_covhomer_D.txt
	ZT02_r2_covhomer_D.xlsx
	ZT02_r2_covhomer_E.txt
	ZT02_r2_covhomer_E.xlsx
	ZT02_r2_model.r
	ZT02_r2_negative_peaks.xls
	ZT02_r2_peaks.bed
	ZT02_r2_peaks.xls
	ZT02_r2_rmdup_filter.bam
	ZT02_r2_rmdup_filter.bam.bai
	ZT02_r2_rmdup_filter.bedgraph
	ZT02_r2_split/
	ZT02_r2_summits.bed
	ZT02_split_C.bed
	ZT02_split_C.subpeaks.bed
	ZT06.bed
	ZT06.txt
	ZT06_r1/
	ZT06_r1_bw_model.r
	ZT06_r1_bw_negative_peaks.xls
	ZT06_r1_bw_peaks.bed
	ZT06_r1_bw_peaks.xls
	ZT06_r1_bw_split_MACS_wiggle/
	ZT06_r1_bw_split_model.r
	ZT06_r1_bw_split_negative_peaks.xls
	ZT06_r1_bw_split_peaks.bed
	ZT06_r1_bw_split_peaks.subpeaks.bed
	ZT06_r1_bw_split_peaks.subpeaks.red.bed
	ZT06_r1_bw_split_peaks.xls
	ZT06_r1_bw_split_summits.bed
	ZT06_r1_bw_summits.bed
	ZT06_r1_covhomer.txt
	ZT06_r1_covhomer.xlsx
	ZT06_r1_covhomer_B.txt
	ZT06_r1_covhomer_C.txt
	ZT06_r1_covhomer_C.xlsx
	ZT06_r1_covhomer_C_sub.txt
	ZT06_r1_covhomer_D.txt
	ZT06_r1_covhomer_D.xlsx
	ZT06_r1_covhomer_E.txt
	ZT06_r1_covhomer_E.xlsx
	ZT06_r1_model.r
	ZT06_r1_negative_peaks.xls
	ZT06_r1_peaks.bed
	ZT06_r1_peaks.xls
	ZT06_r1_rmdup_filter.bam
	ZT06_r1_rmdup_filter.bam.bai
	ZT06_r1_rmdup_filter.bedgraph
	ZT06_r1_summits.bed
	ZT06_r2/
	ZT06_r2_bw_model.r
	ZT06_r2_bw_negative_peaks.xls
	ZT06_r2_bw_peaks.bed
	ZT06_r2_bw_peaks.xls
	ZT06_r2_bw_split_MACS_wiggle/
	ZT06_r2_bw_split_model.r
	ZT06_r2_bw_split_negative_peaks.xls
	ZT06_r2_bw_split_peaks.bed
	ZT06_r2_bw_split_peaks.subpeaks.bed
	ZT06_r2_bw_split_peaks.subpeaks.red.bed
	ZT06_r2_bw_split_peaks.xls
	ZT06_r2_bw_split_summits.bed
	ZT06_r2_bw_summits.bed
	ZT06_r2_covhomer.txt
	ZT06_r2_covhomer.xlsx
	ZT06_r2_covhomer_B.txt
	ZT06_r2_covhomer_C.txt
	ZT06_r2_covhomer_C.xlsx
	ZT06_r2_covhomer_C_sub.txt
	ZT06_r2_covhomer_D.txt
	ZT06_r2_covhomer_D.xlsx
	ZT06_r2_covhomer_E.txt
	ZT06_r2_covhomer_E.xlsx
	ZT06_r2_model.r
	ZT06_r2_negative_peaks.xls
	ZT06_r2_peaks.bed
	ZT06_r2_peaks.xls
	ZT06_r2_rmdup_filter.bam
	ZT06_r2_rmdup_filter.bam.bai
	ZT06_r2_rmdup_filter.bedgraph
	ZT06_r2_split/
	ZT06_r2_summits.bed
	ZT06_split_C.bed
	ZT06_split_C.bedZT10_r1_bw_split_peaks.bed
	ZT06_split_C.subpeaks.bed
	ZT10.bed
	ZT10.txt
	ZT10_r1/
	ZT10_r1_bw_model.r
	ZT10_r1_bw_negative_peaks.xls
	ZT10_r1_bw_peaks.bed
	ZT10_r1_bw_peaks.xls
	ZT10_r1_bw_split_MACS_wiggle/
	ZT10_r1_bw_split_model.r
	ZT10_r1_bw_split_negative_peaks.xls
	ZT10_r1_bw_split_peaks.bed
	ZT10_r1_bw_split_peaks.subpeaks.bed
	ZT10_r1_bw_split_peaks.subpeaks.red.bed
	ZT10_r1_bw_split_peaks.xls
	ZT10_r1_bw_split_summits.bed
	ZT10_r1_bw_summits.bed
	ZT10_r1_covhomer.txt
	ZT10_r1_covhomer.xlsx
	ZT10_r1_covhomer_B.txt
	ZT10_r1_covhomer_C.txt
	ZT10_r1_covhomer_C.xlsx
	ZT10_r1_covhomer_C_sub.txt
	ZT10_r1_covhomer_D.txt
	ZT10_r1_covhomer_D.xlsx
	ZT10_r1_covhomer_E.txt
	ZT10_r1_covhomer_E.xlsx
	ZT10_r1_model.r
	ZT10_r1_negative_peaks.xls
	ZT10_r1_peaks.bed
	ZT10_r1_peaks.xls
	ZT10_r1_rmdup_filter.bam
	ZT10_r1_rmdup_filter.bam.bai
	ZT10_r1_rmdup_filter.bedgraph
	ZT10_r1_summits.bed
	ZT10_r2/
	ZT10_r2_bw_model.r
	ZT10_r2_bw_negative_peaks.xls
	ZT10_r2_bw_peaks.bed
	ZT10_r2_bw_peaks.xls
	ZT10_r2_bw_split_MACS_wiggle/
	ZT10_r2_bw_split_model.r
	ZT10_r2_bw_split_negative_peaks.xls
	ZT10_r2_bw_split_peaks.bed
	ZT10_r2_bw_split_peaks.subpeaks.bed
	ZT10_r2_bw_split_peaks.subpeaks.red.bed
	ZT10_r2_bw_split_peaks.xls
	ZT10_r2_bw_split_summits.bed
	ZT10_r2_bw_summits.bed
	ZT10_r2_covhomer.txt
	ZT10_r2_covhomer.xlsx
	ZT10_r2_covhomer_B.txt
	ZT10_r2_covhomer_C.txt
	ZT10_r2_covhomer_C.xlsx
	ZT10_r2_covhomer_C_sub.txt
	ZT10_r2_covhomer_D.txt
	ZT10_r2_covhomer_D.xlsx
	ZT10_r2_covhomer_E.txt
	ZT10_r2_covhomer_E.xlsx
	ZT10_r2_model.r
	ZT10_r2_negative_peaks.xls
	ZT10_r2_peaks.bed
	ZT10_r2_peaks.xls
	ZT10_r2_rmdup_filter.bam
	ZT10_r2_rmdup_filter.bam.bai
	ZT10_r2_rmdup_filter.bedgraph
	ZT10_r2_summits.bed
	ZT10_split_C.bed
	ZT10_split_C.subpeaks.bed
	ZT14.bed
	ZT14.txt
	ZT14_r1/
	ZT14_r1_bw_model.r
	ZT14_r1_bw_negative_peaks.xls
	ZT14_r1_bw_peaks.bed
	ZT14_r1_bw_peaks.xls
	ZT14_r1_bw_split_MACS_wiggle/
	ZT14_r1_bw_split_model.r
	ZT14_r1_bw_split_negative_peaks.xls
	ZT14_r1_bw_split_peaks.bed
	ZT14_r1_bw_split_peaks.subpeaks.bed
	ZT14_r1_bw_split_peaks.subpeaks.red.bed
	ZT14_r1_bw_split_peaks.xls
	ZT14_r1_bw_split_summits.bed
	ZT14_r1_bw_summits.bed
	ZT14_r1_covhomer.txt
	ZT14_r1_covhomer.xlsx
	ZT14_r1_covhomer_B.txt
	ZT14_r1_covhomer_C.txt
	ZT14_r1_covhomer_C.xlsx
	ZT14_r1_covhomer_C_sub.txt
	ZT14_r1_covhomer_D.txt
	ZT14_r1_covhomer_D.xlsx
	ZT14_r1_covhomer_E.txt
	ZT14_r1_covhomer_E.xlsx
	ZT14_r1_model.r
	ZT14_r1_negative_peaks.xls
	ZT14_r1_peaks.bed
	ZT14_r1_peaks.xls
	ZT14_r1_rmdup_filter.bam
	ZT14_r1_rmdup_filter.bam.bai
	ZT14_r1_rmdup_filter.bedgraph
	ZT14_r1_summits.bed
	ZT14_r2/
	ZT14_r2_bw_model.r
	ZT14_r2_bw_negative_peaks.xls
	ZT14_r2_bw_peaks.bed
	ZT14_r2_bw_peaks.xls
	ZT14_r2_bw_split_MACS_wiggle/
	ZT14_r2_bw_split_model.r
	ZT14_r2_bw_split_negative_peaks.xls
	ZT14_r2_bw_split_peaks.bed
	ZT14_r2_bw_split_peaks.subpeaks.bed
	ZT14_r2_bw_split_peaks.subpeaks.red.bed
	ZT14_r2_bw_split_peaks.xls
	ZT14_r2_bw_split_summits.bed
	ZT14_r2_bw_summits.bed
	ZT14_r2_covhomer.txt
	ZT14_r2_covhomer.xlsx
	ZT14_r2_covhomer_B.txt
	ZT14_r2_covhomer_C.txt
	ZT14_r2_covhomer_C.xlsx
	ZT14_r2_covhomer_C_sub.txt
	ZT14_r2_covhomer_D.txt
	ZT14_r2_covhomer_D.xlsx
	ZT14_r2_covhomer_E.txt
	ZT14_r2_covhomer_E.xlsx
	ZT14_r2_model.r
	ZT14_r2_negative_peaks.xls
	ZT14_r2_peaks.bed
	ZT14_r2_peaks.xls
	ZT14_r2_rmdup_filter.bam
	ZT14_r2_rmdup_filter.bam.bai
	ZT14_r2_rmdup_filter.bedgraph
	ZT14_r2_summits.bed
	ZT14_split_C.bed
	ZT14_split_C.subpeaks.bed
	ZT18.bed
	ZT18.txt
	ZT18_r1/
	ZT18_r1_bw_model.r
	ZT18_r1_bw_negative_peaks.xls
	ZT18_r1_bw_peaks.bed
	ZT18_r1_bw_peaks.xls
	ZT18_r1_bw_split_MACS_wiggle/
	ZT18_r1_bw_split_model.r
	ZT18_r1_bw_split_negative_peaks.xls
	ZT18_r1_bw_split_peaks.bed
	ZT18_r1_bw_split_peaks.subpeaks.bed
	ZT18_r1_bw_split_peaks.subpeaks.red.bed
	ZT18_r1_bw_split_peaks.xls
	ZT18_r1_bw_split_summits.bed
	ZT18_r1_bw_summits.bed
	ZT18_r1_covhomer.txt
	ZT18_r1_covhomer.xlsx
	ZT18_r1_covhomer_B.txt
	ZT18_r1_covhomer_C.txt
	ZT18_r1_covhomer_C.xlsx
	ZT18_r1_covhomer_C_sub.txt
	ZT18_r1_covhomer_D.txt
	ZT18_r1_covhomer_D.xlsx
	ZT18_r1_covhomer_E.txt
	ZT18_r1_covhomer_E.xlsx
	ZT18_r1_model.r
	ZT18_r1_negative_peaks.xls
	ZT18_r1_peaks.bed
	ZT18_r1_peaks.xls
	ZT18_r1_rmdup_filter.bam
	ZT18_r1_rmdup_filter.bam.bai
	ZT18_r1_rmdup_filter.bedgraph
	ZT18_r1_summits.bed
	ZT18_r2/
	ZT18_r2_bw_model.r
	ZT18_r2_bw_negative_peaks.xls
	ZT18_r2_bw_peaks.bed
	ZT18_r2_bw_peaks.xls
	ZT18_r2_bw_split_MACS_wiggle/
	ZT18_r2_bw_split_model.r
	ZT18_r2_bw_split_negative_peaks.xls
	ZT18_r2_bw_split_peaks.bed
	ZT18_r2_bw_split_peaks.subpeaks.bed
	ZT18_r2_bw_split_peaks.subpeaks.red.bed
	ZT18_r2_bw_split_peaks.xls
	ZT18_r2_bw_split_summits.bed
	ZT18_r2_bw_summits.bed
	ZT18_r2_covhomer.txt
	ZT18_r2_covhomer.xlsx
	ZT18_r2_covhomer_B.txt
	ZT18_r2_covhomer_C.txt
	ZT18_r2_covhomer_C.xlsx
	ZT18_r2_covhomer_C_sub.txt
	ZT18_r2_covhomer_D.txt
	ZT18_r2_covhomer_D.xlsx
	ZT18_r2_covhomer_E.txt
	ZT18_r2_covhomer_E.xlsx
	ZT18_r2_model.r
	ZT18_r2_negative_peaks.xls
	ZT18_r2_peaks.bed
	ZT18_r2_peaks.xls
	ZT18_r2_rmdup_filter.bam
	ZT18_r2_rmdup_filter.bam.bai
	ZT18_r2_rmdup_filter.bedgraph
	ZT18_r2_summits.bed
	ZT18_split_C.bed
	ZT18_split_C.subpeaks.bed
	ZT22.bed
	ZT22.txt
	ZT22_r1/
	ZT22_r1_bw_model.r
	ZT22_r1_bw_negative_peaks.xls
	ZT22_r1_bw_peaks.bed
	ZT22_r1_bw_peaks.xls
	ZT22_r1_bw_split_MACS_wiggle/
	ZT22_r1_bw_split_model.r
	ZT22_r1_bw_split_negative_peaks.xls
	ZT22_r1_bw_split_peaks.bed
	ZT22_r1_bw_split_peaks.subpeaks.bed
	ZT22_r1_bw_split_peaks.subpeaks.red.bed
	ZT22_r1_bw_split_peaks.xls
	ZT22_r1_bw_split_summits.bed
	ZT22_r1_bw_summits.bed
	ZT22_r1_covhomer.txt
	ZT22_r1_covhomer.xlsx
	ZT22_r1_covhomer_B.txt
	ZT22_r1_covhomer_C.txt
	ZT22_r1_covhomer_C.xlsx
	ZT22_r1_covhomer_C_sub.txt
	ZT22_r1_covhomer_D.txt
	ZT22_r1_covhomer_D.xlsx
	ZT22_r1_covhomer_E.txt
	ZT22_r1_covhomer_E.xlsx
	ZT22_r1_model.r
	ZT22_r1_negative_peaks.xls
	ZT22_r1_peaks.bed
	ZT22_r1_peaks.xls
	ZT22_r1_rmdup_filter.bam
	ZT22_r1_rmdup_filter.bam.bai
	ZT22_r1_rmdup_filter.bedgraph
	ZT22_r1_summits.bed
	ZT22_r2/
	ZT22_r2_bw_model.r
	ZT22_r2_bw_negative_peaks.xls
	ZT22_r2_bw_peaks.bed
	ZT22_r2_bw_peaks.xls
	ZT22_r2_bw_split_MACS_wiggle/
	ZT22_r2_bw_split_model.r
	ZT22_r2_bw_split_negative_peaks.xls
	ZT22_r2_bw_split_peaks.bed
	ZT22_r2_bw_split_peaks.subpeaks.bed
	ZT22_r2_bw_split_peaks.subpeaks.red.bed
	ZT22_r2_bw_split_peaks.xls
	ZT22_r2_bw_split_summits.bed
	ZT22_r2_bw_summits.bed
	ZT22_r2_covhomer.txt
	ZT22_r2_covhomer.xlsx
	ZT22_r2_covhomer_B.txt
	ZT22_r2_covhomer_C.txt
	ZT22_r2_covhomer_C.xlsx
	ZT22_r2_covhomer_C_sub.txt
	ZT22_r2_covhomer_C_sub.xlsx
	ZT22_r2_covhomer_D.txt
	ZT22_r2_covhomer_D.xlsx
	ZT22_r2_covhomer_E.txt
	ZT22_r2_covhomer_E.xlsx
	ZT22_r2_model.r
	ZT22_r2_negative_peaks.xls
	ZT22_r2_peaks.bed
	ZT22_r2_peaks.xls
	ZT22_r2_rmdup_filter.bam
	ZT22_r2_rmdup_filter.bam.bai
	ZT22_r2_rmdup_filter.bedgraph
	ZT22_r2_summits.bed
	ZT22_split_C.bed
	ZT22_split_C.subpeaks.bed
	allmerged_B.bed
	allmerged_B.txt
	allmerged_C.bed
	allmerged_C_sub.txt
	allmerged_D.bed
	allmerged_E.bed
	allmerged_diffbind.bed
	bindingsites_paper.xlsx
	bs_paper.bed
	compare_bsfinds_simple.R
	newPeakFile_r1_bw_150bp (copy).txt
	newPeakFile_rmdup_150bp_bw300_given_reps.txt
	newPeakFile_rmdup_150bp_bw300_reps.txt
	newPeakFile_rmdup_250bp_bw300_given_reps.txt
	newPeakFile_rmdup_500bp_bw300_reps.txt
	rma_annot_new.txt
	rma_data_new.txt
	transcript_genes.txt
	true_peaks.txt

